# 秘密値は TF_VAR_ を prefix にした特殊な変数で定義する
## これによって S3 などのリモート state (cdk.tf.json) に平文で出力されない
## AWS の秘密値は cdktf 側から参照したりするケースがないため TF_VAR_ を付けなくても問題ない

# Docker container build settings
USER_UID=1000
USER_GID=1000
USER_NAME=node
USER_GROUP=node

# 開発環境=dev、本番環境=prod
ENVIRONMENT=dev

# Node
NODE_ENV=development

# AWS
AWS_REGION=ap-northeast-1
## AWS設定（インフラ設定可能な権限のあるアカウント）
## Case 1: アクセスキーを直接指定
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
## Case 2: AWSプロファイルを使用
# AWS_PROFILE=my-profile-name

## S3メディアライブラリ設定
S3_MEDIA_BUCKET_NAME=your-s3-bucket
S3_MEDIA_CDN_DOMAIN=your-cdn-domain
S3_MEDIA_CDN_SUBDOMAIN=your-cdn-subdomain

# Cloudflare設定
TF_VAR_cloudflare_api_token=your-cloudflare-api-token
TF_VAR_cloudflare_account_id=your-cloudflare-account-id
